/*--------------------------------
=BASIC SETUP
--------------------------------*/

/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

p {
	padding-bottom: 22px;
}

body {
	margin: 0 auto;
	padding: 42px 0;
	font: 12px dotum, Helvetica, Arial, sans-serif;
	height: 100%;
}

/*-------------------------------
=NAVIGATION
--------------------------------*/
nav {
	display:inline-block;
	left: 0;
	width: 100%;
	background-color:#343B48;
	/*
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#555D62), to(#253036)); 
	background: -moz-linear-gradient(top, #555D62, #253036); 
	*/
	border-bottom: 1px solid #4B585F;
	padding-left:10px;
	line-height: 38px;
	-webkit-box-shadow:0px 1px 5px #000;
	-moz-box-shadow: 0px 1px 5px #000;
	z-index:200;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
}

nav ul {
	margin: 0 auto;
	list-style: none;
}

nav ul li, nav ul li a {
	float: left;
	display: block;
	width: 100px;
	text-align: center;
	color: #B5BDC2;
	font-weight: bolder;
	text-decoration: none;
	position:relative;
}

nav ul li a:hover {
	color:#fff;
}

nav ul li.logo, nav ul li.logo a {
	font-size:22px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color:#fff;
	width:140px;
}

/* dropdown */
nav li:hover > ul {
	display: block;
	z-index:201;
}

/* level 2 list */
nav li > ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 120px;
	position: absolute;
	top: 35px;
	background: #FAFAFA;
	border: solid 1px #b4b4b4;
	
	/*
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	*/

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}

nav li > ul li a {
	text-align:left;
	font-weight:normal;
	color:#000;
	left: 3px;
	padding-left:14px;
	line-height:24px;
}

nav li > ul li a:hover {
	background: #E3EBEF;
	border: 1px solid #BACBD6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #000 !important;
	left: 2px;
	line-height:22px;

	/*text-shadow: 0 1px 1px rgba(0,0,0, .1);*/
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
    display: table;
    margin-top: -3px;
	overflow: auto;
}

#mainContent {
	display: table-cell;
	padding-right: 22px;
	padding-left:22px;
}

/*------------------------------
=BLOG HEADER
------------------------------*/
#blogHeader {
	border-bottom:1px solid #d7d7d7;
	padding-bottom: 5px;	
}

/*
.blogPost header p, .blogPost header p a {
        font-size: 14px;
        font-style: italic;
        color: #777;
    }
    
.blogPost header p a:hover {
	text-decoration: none;
	color: #000;
}
*/

/*------------------------------
=BLOG CONTENT
------------------------------*/
#blogContent {
    margin-top: 12px;
}

#blogContent header ul{
	float:left;
	margin:0;
	padding:0;
}

#blogContent header ul li{
	list-style:none;
	padding:5px 10px;
	float: left;
	background:#F6F6F6;
	border:1px solid #C9C9C9;
	border-bottom:1px solid #C9C9C9;
	text-align:center;
}

#blogContent article ul li{
	list-style:none;
	padding:5px 10px;
	float: left;
	border-bottom:1px solid #C9C9C9;
	text-align:center;
}

#blogContent article ul li a {
	font-weight:normal;
	font-size:12px;
	color:black;
	width:100%;
	text-decoration: none;
}

#blogContent article ul li a:hover {
	font-weight:bold;
	font-size:12px;
	color:red;
	width:100%;
	text-decoration: none;
}

/*------------------------------
=VIEWBUTTONAREA
------------------------------*/
#viewbuttonarea {
	display: table;
	width:100%;
    #margin: 5px 0 0 5px;
    #padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

#viewbuttonarea span {
	display: table-cell;
}

#viewbuttonarea span li {
	text-decoration: none;	
	
	margin:2px;
	padding: 2px 6px 2px 6px;
	

	list-style:none;
	float: left;
}

#viewbuttonarea span ul li a {
	text-decoration: none;
}

#viewbuttonarea span ul li a:hover {
	#text-shadow: 2px 2px 2px #000;
	#color: #000;
}

/*------------------------------
=COMMENTS
------------------------------*/

#comments {
    margin-top: 21px;
    padding-top: 22px;
    #border-top: 1px solid #d7d7d7;
}

#comments article {
	display: table;
	padding: 22px;
}
    
#comments article:nth-child(odd) {
	padding: 21px;
	background: #E3E3E3;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}
    
#comments article header {
	display: table-cell;
	width: 220px;
	padding-right: 22px;
}
        
#comments article header a {
	display: block;
	font-weight: bold;
	color: #000;
}
            
#comments article header a:hover {
	text-decoration: none;
}
        
#comments article p {
	padding: 0;
}

/*------------------------------
=SIDEBAR
------------------------------*/
aside {
	display: table-cell;
	width: 150px;
	border-right: 2px solid #E2E2E2;
	border-bottom: 2px solid #E2E2E2;
	background: #FAFAFA;
}

aside section {
    margin: 12px 0 0 12px;
    height: 100%;
	width: 120px;
}

aside section header {
	border-bottom:1px solid #666666;
}

aside section ul {
	text-align:left;
	list-style-type:none;
}
    
aside section ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align:left;
	list-style-type:square;
	margin: 5px 0 0 5px;
}
        
aside section ul li a:hover {
	text-decoration: underline;
	color:blue;
}

/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	left: 0;
}

footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
	color: #777;
}

footer div section {
	display: table-cell;
	width: 300px;
}

footer div #about, footer div #blogroll {
	padding-right: 20px;
}
	
footer h3 {
	color: #FFF;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #FFF;
	text-decoration: none;
}

footer ul {
	margin: 0 0 0 40px;
	list-style: square;
	color: #565656;
}

footer ul li a {
	display: block;
}

/*------------------------------
=SIDEBAR
------------------------------*/
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:301;
}
#popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:384px;
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:302;
	padding:12px;
	font-size:13px;
}
#popupContact h1{
	text-align:left;
	font-size:18px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}
/*--------------------------------
=Form tag
--------------------------------*/
input[type='text'], input[type='password'] { 
	border: 1px solid #006; 
	background: #ffc;
}
input[type='text']:hover, input[type='password']:hover { 
	border: 1px solid #f00; 
	background: #ff6;
}
input[type='submit'], input[type='reset'], button[type='button'] { 
	border: 1px solid #006; 
	background: #ccf;
}
input[type='submit']:hover, input[type='reset']:hover, button[type='button']:hover { 
	border: 1px solid #f00; 
	background: #eef;
}

/*--------------------------------
=Rss link
--------------------------------*/
.rsslink {
	font-size:16px;
	color: #E1604D;
	font-weight: bolder;
	text-decoration: none;
}
